<!-- BEGIN: Content -->
<div class="content">
    <div class="intro-y flex items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
            Update Profile
        </h2>
    </div>
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 lg:col-span-12 2xl:col-span-12">
            <!-- BEGIN: Display Information -->
            <div class="intro-y box lg:mt-5">
                <div class="flex items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
                    <h2 class="font-medium text-base mr-auto">
                        Display Information
                    </h2>
                </div>
                <form class="p-5" method="post" action="/profile">
                    <div class="flex flex-col-reverse xl:flex-row flex-col">
                        <div class="flex-1 mt-6 xl:mt-0">      
                            <div class="grid grid-cols-12 gap-x-5">
                                <div class="col-span-4">
                                    <div class="mt-3">
                                        <label for="name" class="form-label">Name</label>
                                        <input id="name" type="text" name="name" class="form-control"
                                            placeholder="Input text" value="<%=admin.name %>" >
                                    </div>
                                </div>
                                <div class="col-span-4">
                                    <div class="mt-3">
                                        <label for="phone" class="form-label">Phone Number </label>
                                        <input id="phone" type="text" name="phone" class="form-control"
                                            placeholder="Phone number" readonly value="<%=admin.mobile %>" >
                                    </div>
                                </div>
                                <div class="col-span-4">
                                    <div class="mt-3">
                                        <label for="email" class="form-label">Email</label>
                                        <input id="email" type="email" name="email" class="form-control"
                                            placeholder="Input text" readonly value="<%=admin.email %>" >
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary w-20 mt-3">Save</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- END: Display Information -->
            <!-- BEGIN: Personal Information -->
            <div class="intro-y box mt-5">
                <div class="flex items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
                    <h2 class="font-medium text-base mr-auto">
                        Change Password
                    </h2>
                </div>
                <form method="post" action="/profile/changepassword" class="p-5">
                    <div class="grid grid-cols-12 gap-x-5">
                        <div class="col-span-4">
                            <div class="mt-3">
                                <label for="current_password" class="form-label">Current password</label>
                                <input id="current_password" type="password" name="current_password"
                                    class="form-control" placeholder="Current password" required>
                            </div>
                        </div>
                        <div class="col-span-4">
                            <div class="mt-3">
                                <label for="new_password" class="form-label">New password</label>
                                <input id="new_password" type="password" name="new_password"
                                    class="form-control" placeholder="New password" required>
                            </div>
                        </div>
                        <div class="col-span-4">
                            <div class="mt-3">
                                <label for="conform_new_password" class="form-label">Conform new password</label>
                                <input id="conform_new_password" type="password" name="conform_new_password"
                                    class="form-control" placeholder="Conform new password" required>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-end mt-4">
                        <button type="submit" class="btn btn-primary w-20 mr-auto">Save</button>
                    </div>
                </form>
            </div>
            <!-- END: Personal Information -->
        </div>
    </div>
</div>
<!-- END: Content -->